.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	size: 150%;
}

.input {
	position: absolute;
	top: -15%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: rgba(14, 14, 14, 0.8);
	color: white;
	border: none;
	outline: none;
	size: 30;
	text-align: center;
}

#number {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: x-large;
}

