---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
/*<h1>Contact information</h1>

<p>My prefered method of communication is the so called <italic>electronic mail</italic> or email in short.</p>
You can send me messages on the address: <a href="vv.votruba@gmail.com">vv.votruba@gmail.com.</a>
<br>
<br>
<p>If it's necessary, you can also contact me via Facebook, X, Discord, LinkedIn. However, I would recommend this method to those who don't know me personally, as I might not respond.</p>
<p>Apart from that I live in Prague 13.</p>*/
---


<BaseLayout>

    <Header/>

    <hr class="border-darkish dark:border-smoke">
    <div id="content" class="text-sm containter mx-auto max-w-4xl mt-14 text-justify pl-8 pr-8 pb-8">
        <h2 class="mb-2 mt-0 text-4xl font-medium leading-tight text-primary">
            Contact information
        </h2>
        <br/>
        <p>My prefered method of communication is the so called <italic>electronic mail</italic> or email in short.</p>
        You can send me messages on the address: <a href="vv.votruba@gmail.com">vv.votruba@gmail.com.</a>
        <br>
        <br>
        <p>If it's necessary, you can also contact me via any of the social platforms linked in the navbar. However, I wouldn't recommend this method to those who don't know me personally, as I might not respond.</p>
        <p>Apart from that I live in Prague 13.</p>
	</div>

</BaseLayout>


