---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout>

    <Header/>

    <div id="content" class="text-sm containter mx-auto max-w-xl mt-8 text-justify pl-8 pr-8 pb-8 overflow-hidden">
        <h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
            Contact information
        </h2>
        <p>My preferred method of communication is via <span class="italic">electronic mail</span>.</p>
        You can send me messages at the address: <nobr><a href="mailto: vv.votruba@gmail.com" class="text-redish underline dark:text-cyan">vv.votruba@gmail.com</a></nobr>.
        <br>
        <br>
        <p>If it's necessary, you can also contact me via any of the social platforms linked in the navbar. I live in Prague 13</p>
	</div>

</BaseLayout>


