---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout>

    <Header/>

    <div id="content" class="text-sm containter mx-auto max-w-xl mt-8 text-justify pl-8 pr-8 pb-8 overflow-hidden">
        <h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
            Double pendulum
        </h2>
        <div>
            <video class="mt-3 mb-5 mx-auto text-justify rounded" width="360" controls>
                <source src="pendulum.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <a class="text-emerald underline dark:text-emerald hover:no-underline" href="https://github.com/vojtech-votruba/double-pendulum-simulation">Double pendulums</a> are sick. RK4 doesn't conserve energy very well tho.
            <img class="rounded mt-3 mb-3 mx-auto text-justify" src="energy_pendulum.png" width="360">
        </div>
        
	</div>

</BaseLayout>