---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>

    <div id="content" class="text-m containter mx-auto max-w-lg mt-0 inset-center text-justify pl-8 pr-8 pb-8">
        <h2 class="mb-2 mt-0 text-4xl font-medium leading-tight text-primary text-center mt-8">
            Welcome
        </h2>
        <br/>
        <p>Hi! My name is Vojta and you have stumbled upon my personal website. Some of the things you can find here are:</p>
        <br/>
        <ul>
            <li>My <a class="text-emerald underline dark:text-emerald hover:no-underline" href="/contact">contact</a> information</li>
            <li>My <a class="text-emerald underline dark:text-emerald hover:no-underline" href="/work">work and programming</a> projects</li>
            <li>Random <a class="text-emerald underline dark:text-emerald hover:no-underline" href="/personal">personal</a> stuff like favourite books, movies, music, blogposts, and even equations :)</li>
        </ul>
        <br/>
        <p>Feel free to look around here, and enjoy your stay!</p>
	</div>

</BaseLayout>