---
import Header from '../components/Header.astro'
---

</Header>

<h1>Welcome</h1>

<p>Hi! My name is Vojta and you have stumbled upon my personal website. Some of the things you can find here are:</p>
<ul>
    <li>- My <a href="contact">contact</a> information</li>
    <li>- My <a href="programming">programming</a> projects</li>
    <li>- Random <a href="personal">personal</a> stuff like blogposts; favourite books, movies, music, and even equations :)</li>
</ul>
<p>Feel free to look around here, and enjoy your stay!</p>