---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>

    <div id="content" class="text-m containter mx-auto max-w-lg mt-20 inset-center text-justify pl-8 pr-8 pb-8">
        <h2 class="mt-8 text-4xl font-medium leading-tight text-primary text-center">
            Welcome
        </h2>
        <br/>
        <p>Hi! My name is Vojta, and you have stumbled upon my personal website. Some of the things you can find here are:</p>
        <br/>
        <ul>
            <li>My <a class="text-emerald underline dark:text-emerald hover:no-underline" href="/contact">contact</a> information and <a class="text-emerald underline dark:text-emerald hover:no-underline" href="/cv.pdf">CV</a>.</li>
            <li><a class="text-emerald underline dark:text-emerald hover:no-underline" href="/random">Random personal</a> stuff like favourite books, movies, music, blog posts, pictures, and even equations :)</li>
        </ul>
        <br/>
        <p>Feel free to look around, and enjoy your stay!</p>
        <br>
        <footer class="text-center">
            <small>Powered by <a href="https://astro.build/" class="text-emerald underline dark:text-emerald hover:no-underline text-nowrap">Astro</a> | Styled with <a href="https://tailwindcss.com" class="text-emerald underline dark:text-emerald hover:no-underline text-nowrap">TailwindCSS</a></small>
        </footer>
	</div>

</BaseLayout>
