---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout>

    <Header/>

    <hr class="border-darkish dark:border-smoke">
    <div id="content" class="text-sm containter mx-auto max-w-4xl mt-14 text-justify pl-8 pr-8 pb-8">
        <h2 class="mb-2 mt-0 text-4xl font-medium leading-tight text-primary">
            Úvodní slovo
        </h2>
        <br/>
        <p>
            Zdravím, jmenuji se Vojtěch Votruba a tohle je má webová stránka.
        </p>
        <br/>
        <p>
            Možná tu jednou bude něco relevantního. Kdo ví. Tato stránka je často měněna a aktualizována, neb s ní nejsem nikdy spokojen. Prozatím můžete kliknout na šipku úplně vlevo nahoře a vrátit se tak na původní stránku. Pokud byste chtěli zavřít okno prohlížeče, můžete kliknout na křížek nebo červený čudlík někde nahoře. (Používáte-li nějakou abnormální metodu pro návštěvu této stránky&nbsp–&nbspnapř.&nbsp<i>Elinks</i>, <i>Lynx</i>, <i>w3m</i>  apod.&nbsp–&nbsp,&nbspmusíte si všechno to přijít sami : ).)
        </p>
	</div>

</BaseLayout>