---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Media from '../content/media.astro';
import Blogposts from '../content/blogposts.astro';
import Equation from '../content/equation.astro';
---

<BaseLayout>

    <Header/>

    <div id="content" class="text-sm containter mx-auto max-w-xl mt-8 text-justify pl-8 pr-8 pb-8">
        <Media/>
        <Blogposts/>
        <Equation/>
	</div>

</BaseLayout>