---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="text-m mx-auto max-w-2xl mt-20 px-6 leading-relaxed text-justify">
    <h1 class="text-3xl font-bold text-primary mb-6 text-center">Stuff I Like</h1>

    <p class="mb-4">
      I like the books of <strong>Dostoyevsky</strong> and <strong>Hermann Hesse</strong>, albeit recently I lack the time and energy to read. For movies, I’d highlight the original <strong>LOTR trilogy</strong> and the works of <strong>Christopher Nolan</strong> — a bit pretentious, but oh well.
    </p>

    <p class="mb-4">
      Apart from that, I consume a lot of pop culture — notably <strong>RPG video games</strong>, <strong>Star Wars</strong>, and anything with good <strong>sci-fi or fantasy</strong> worldbuilding.
    </p>

    <p class="mb-8">
      For some reason, I’m really into Prague-based student bands like <strong>StayJ</strong> or <strong>Squared Circles</strong>. I also enjoy film scores, soundtracks, <strong>Electric Light Orchestra</strong>, and the Czech folk band <strong>Asonance</strong>.
    </p>
    <div class="mt-6 text-center text-md text-gray-500 dark:text-gray-400">
      <a href="/" class="underline hover:no-underline text-emerald">← Back to homepage</a>
    </div>

  </section>
</BaseLayout>
