---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout>

    <Header/>

    <div id="content" class="text-sm containter mx-auto max-w-xl mt-8 text-justify pl-8 pr-8 pb-8">
        <h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
            Bc. Thesis
        </h2>
        My ongoing bachelor's thesis is focused on using neural networks to model and study the evolution of certain physical systems. Specifically, the model learns two thermodynamical potentials and then applies the equations of gradient dynamics. The code for the thesis is stored in a private GitLab repository owned by the math section of my faculty.
        <br>
        <br>
        <h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
            Work Experience
        </h2>
        For my seeing work history you can checkout my LinkedIn profile/CV on the address: <a class="text-emerald underline dark:text-emerald hover:no-underline text-nowrap" href="https://www.linkedin.com/in/vojt%C4%9Bch-votruba/">https://www.linkedin.com/in/vojt%C4%9Bch-votruba/</a>
        <br>
        <br>
        <h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
            Projects
        </h2>
        Most of my hobby projects can be found on my GitHub profile linked in the navbar.
	</div>

</BaseLayout>