---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout>

    <Header/>

    <div id="content" class="text-sm containter mx-auto max-w-xl mt-8 text-justify pl-8 pr-8 pb-8">
        <h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
            Recognition of dissipative systems using ML
        </h2>
        My ongoing bachelor's thesis focuses on using neural networks to model and study the evolution of certain physical systems. Specifically, the model works by learning two thermodynamical potentials and applying the equations of gradient dynamics to them. [<a class="text-emerald underline dark:text-emerald hover:no-underline" href="https://github.com/vojtech-votruba/dissipative-systems-recognition">https://github.com/vojtech-votruba/dissipative-systems-recognition</a>]
        <br>
        <br>
        <h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
            Work Experience
        </h2>
        For my work history, you can check my LinkedIn profile at the address: <a class="text-emerald underline dark:text-emerald hover:no-underline" href="https://www.linkedin.com/in/vojtech-votruba/">https://www.linkedin.com/in/vojtech-votruba/</a>
        <br>
        <br>
        <h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
            Projects
        </h2>
        Most of my hobby projects can be found on my GitHub profile linked in the navbar.
	</div>

</BaseLayout>