---
---

<h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
    My blogposts
</h2>
All of my pseudointellectual blog posts can be found on the website
<a class="text-emerald underline dark:text-emerald hover:no-underline text-nowrap" href="https://stribro.github.io/">https://stribro.github.io/</a>
built by my friend Lukáš Veškrna.
<br>
<br>
