---
import LaTeX from '../components/LaTeX.astro';
---

<h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
    My favourite equation
</h2>
It's quite a challenging choice, but I would probably opt for the most elegant covariant form of Maxwell's equations using the Lorenz gauge:
<br>
<br>
<LaTeX formula='\\square A^\\alpha = -\\mu_0 J^\\alpha.'/>
