---
---

<h2 class="mb-2 mt-0 text-lg font-medium leading-tight text-primary text-center">
        My favourite media
</h2>
<div class="flex justify-center">
        <ul class="list-disc">
                <li>the <span class="italic">Crime and Punishment</span> by F. Dostoevsky</li>
                <li><span class="italic">Steppenwolf</span> by Hermann Hesse</li>
                <li><span class="italic">the Stranger</span> by Albert Camus</li>
        </ul>
</div>
<br>
<div class="flex justify-center">
        <ul class="list-disc">
                <li><span class="italic">The Dark Knight</span> by Christopher Nolan</li>
                <li>the <span class="italic">Star Wars: Episode VI - Return of the Jedi </span> by G. Lucas </li>
                <li><span class="italic">A Beautiful Mind</span> by Ron Howard</li>
        </ul>
</div>
<br>
<div class="flex justify-center">
        <ul class="list-disc">
                <li>Prague-based student bands - e.g. <span class="italic">StayJ</span>, the <span class="italic">Squared Circles</span>, and <span class="italic">Kruh 19</span></li>
                <li>movie music in general, <span class="italic">the Beatles</span>, the Czech folk band <span class="italic">Asonance</span></li>
        </ul>
</div>
<br>
