.intro {
    padding-top: 3%;
}

a {
    font-family: 'Libre Baskerville';
}

p {
    text-align: center;
    font-size: larger;
    font-family: 'Libre Baskerville';
}
.centering-resize{
    position: absolute;
    left: 37%;
    width: 26%;
    height: auto;
}