a:link {text-decoration: none; color: rgb(44, 44, 44);}
a:visited {text-decoration: none; color: rgb(44, 44, 44);}
a:hover {text-decoration: none; font-style: italic; color: black}
a:active {text-decoration: none; color: rgb(44, 44, 44);}

body.dark-theme a:link {text-decoration: none; color: rgb(168, 168, 168);}
body.dark-theme a:visited {text-decoration: none; color: rgb(168, 168, 168);}
body.dark-theme a:hover {text-decoration: none; color: whitesmoke;}
body.dark-theme a:active {text-decoration: none; color: rgb(168, 168, 168);}

body {
    color: rgb(44, 44, 44);
    background-color: antiquewhite;
    font-family: Merriweather;
}

body.dark-theme {
    color: whitesmoke;
    background-color: rgb(44, 44, 44);
}

.toppanel{
    top: 0%;
    left:0%;
    width: 99.75%;
    height: 10%;
    position: absolute;
    text-align: center;
    border: 2px solid black;
}

body.dark-theme .toppanel {
    border: 2px solid whitesmoke;
}

.navpanel{
    position: fixed;
    top: 10.5%;
    width: 15%;
    height: 100%;
    border-right: 2px solid;
}

.main{
    background-color: blue;
    position: absolute;
    top:15%;
    height: 85%;
    width: 80%;
    left: 20%;
}

.redirect {
    font-size: 30px;
    padding-top: 40%;
}

#button-switch{
    color: whitesmoke;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 9%;
    right:1%;
    font-size: 20px;
    text-align: center;
    padding: 15px 30px;
}

body.dark-theme #button-switch {
    color: rgb(44, 44, 44);
    background-color: antiquewhite;
    text-align: center;
    padding: 15px 30px;
}

h1 {
    margin-left: 10%;
}
h1 span {
    font-size: 20px;
    font-style: bold;
    padding-left: 1%;
    font-family: Verdana;
}